html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.profile svg {
    width: 30px;
    color: black;
}

header {
    background-color: #c9c9c9db;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: auto;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 20px;
    display: flex;
    text-transform: uppercase;
}

nav ul li {
    display: inline-block;
    text-align: center;
}