body {
    font-family: sans-serif;
    background-color: rgb(245, 245, 245);
}

h1 {
    font-size: 24px;
    color: #242424;
    font-weight: 900;
}

h2 {
    font-size: 24px;
    color: #606060;
    font-weight: 800;
}

p {
    font-size: 14px;
}

li {
    font-family: monospace;
    font-size: 18px;
    margin: 10px;
}

a {
    font-weight: bold;
}

ul a {
    color:orange;
    text-decoration: underline;
}

body {
    margin-top: 30px;
    margin-bottom: 30px;
}

ul {
    margin-left: 100px;
    padding: 20px;
    border-style: solid; border-width: 2px; border-color: blue;
    max-width: 40%;
    list-style-type: none;
}

.ejercicio10{
    color: green;
}

ul li:hover{
    color: rgba(0, 0, 0, 0.1)
}